*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
section.welcome {
    padding: 1.2rem;
}
h1.heading-primary {
    color: #4a4a4a;
    font-weight: bold;
    padding-bottom: .8rem;
}
h1.heading-primary::after {
    content: "Tuesday, 6 July";
    position: absolute;
    right: 35px;
    font-weight: 400;
    color: #8c8c8c;
    font-size: .9em;
}
.welcome__container-news {
    display: flex;
    justify-content: space-between;
}
.welcome__new {
    width: 49.3%;
    position: relative;
}
.welcome__new.new--other__new {
    width: 49%;
    position: relative;
}
.welcome__new__image img {
    width: 100%;
    object-fit: cover;
    height: min-content;
    display: block;
}
.welcome__new.new--other {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.overlay{

}
h3 a {
    color: #fff;
    font-size: 1.7em;
    font-weight: 500;
}
p.welcome__new__summary{
    color: #d3d3d3;
    font-weight: 500;
    margin: 12px 0;
}
.welcome__new__new-contnet {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1.1rem;
    z-index: 2;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    /* text-indent: 200%; */
    white-space: nowrap;
    visibility: visible;
    /* color: #000; */
    background: rgba(0,0,0,.5);
    z-index: 0;
}