* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: fit-content;
    flex-wrap: wrap;
}

.nav1 li {
    list-style: none;
    width: 100px;
    border: grey solid;
    border-width: 1px;
    height: 35px;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.nav1 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 20px;
}

.nav1 span:not(#sign) {
    width: 102px;
    height: 5px;
    background-color: transparent;
}

.nav1 li:hover span:not(#sign) {
    width: 102px;
    height: 5px;
    background-color: blue;
}

.logo {
    width: 80px !important;
    padding: 0px 10px;
    justify-content: center !important;
}

.sign-in {
    flex-direction: row !important;
    width: 120px !important;
    justify-content: flex-start !important;
    font-weight: bold;
}

.sign-in svg {
    width: 40px;
}

.dropdown {
    width: 100%;
}

.dropdown-items {
    position: absolute;
    display: none;
}

.dropdown-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    position: relative;
    top: 6px;
    text-align: center;
    background-color: white;
    z-index: 1;
}

.dropdownli:hover .dropdown-items {
    display: block;
}

.dropdown-items a:hover {
    background-color: rgb(197, 197, 197);
}

.search {
    width: 220px !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
}

.search input {
    border: 0px;
    font-size: 20px;
    width: 170px;
    outline: none;
}

.dropbtn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    height: 22px;
    font-size: 13px;
    position: relative;
    left: 30px;
}

.dropdownli {
    font-weight: bold;
}

.down-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.news {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: #B80000;
    justify-content: space-around;
}

.news span {
    width: 66%;
}

.news svg {
    fill: white;
    width: 200px;
}